{% extends 'app/base.html'%}
{% load staticfiles %}
{% block content %}
<div class="container page-header hpad">
    <div class="row">
        <div class="col-md-3">
        </div>
    <div class="col-md-6 cent body">

        <h1>   Requests Time!! </h1>

        </br>

         <hr>
         <h1>Start time : {{start_time}}</h1>
         <h1>Total time taken : {{elasped_time}}</h1>
         <br>
         <br>

    </div>
</div>
</div>
{% endblock %}